.topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #333;
}

.topbar-element {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	min-width: 50px;
	min-height: 30px;
	color: #fff;
	border-bottom: 2px solid #333;
	text-decoration: none;
	text-align: center;
}

.topbar-element:hover {
	border-bottom: 2px solid #fff;
}

.topbar-element:focus {
	background-color: #555;
	outline: none;
}

.href {
	margin-left: 5px;
	text-decoration: none;
	color: rgb(14, 82, 255);
}

.href:hover {
	text-decoration: underline;
	outline: none;
}

.main-list {
	margin-top: 50px;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

.article-list-element-title {
	font-family:'Times New Roman', Times, serif;
	font-size: 30px;
	color: #333;
	padding: 5px;
	text-decoration: none;
}

.article-list-element {
	text-align: left;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.content {
	padding: 5px;
	background-color: #fff;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15px;
	font-family: 'Times New Roman', Times, serif;
}
code pre.sourceCode {
	font-family: 'Consolas', 'ubuntu mono', 'Courier New', Courier, monospace;
	font-size: 15px;
}
h1 {
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
}
h2 {
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
}
h3 {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
}
h4 {
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
}